{% extends "SiteFirstBundle::layout.html.twig" %}



{% block content %}
<!-- SUBHEADER
================================================== -->
<div id="subheader">
    <div class="row">
        <div class="eight columns">
            <p class="bread leftalign">
                     Добавить статью
                     
            </p>
        </div>
        <div class="four columns">
            <div class="row collapse">
                <div class="ten mobile-three columns">
                        <input type="text" class="nomargin" placeholder="Search...">
                </div>
                <div class="two mobile-one columns">
                        <a href="#" class="postfix button expand">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
    <div class="twelve columns noleftmargin">
         <!-- MAIN CONTENT -->
         
            <div class="eight columns">
                <form action="" method="post" name="post">
                    <input type="text" class="five smoothborder" name="title" placeholder="Заголовок *"/>
                    <input type="text" class="five smoothborder" name="slug" placeholder="слаг *" />
                    <textarea class="six smoothborder" rows="7" name="content" placeholder="Ваш текст..."></textarea>
                    <button type="submit" class="readmore">Опубликовать</button>
                </form>
            </div>
             <!-- SIDEBAR -->
            <div class="four columns">
            {#RECENT COMMENTS#}
            {{ render(controller("SiteBlogBundle:Blog:recentComments")) }}
                    
                    <br class="clear"/>
                    <h6 class="sidebartitle">POPULAR TAGS</h6>
                    <a href="#" class="tags">Photography</a>
                    <a href="#" class="tags">Vintage</a>
                    <a href="#" class="tags">Nature</a>
                    <a href="#" class="tags">Design</a>
                    <a href="#" class="tags">Printing</a>
                    <a href="#" class="tags">Contemporary</a>
                    <a href="#" class="tags">Classic</a>
                    <a href="#" class="tags">Elegant</a>
                    <a href="#" class="tags">Graphics</a>
                    <br class="clear"/>
                    <br/><br/>
                
                {#RELATED POSTS#}
                    
                    <h6 class="sidebartitle">RELATED POSTS</h6>
                    <p>
                            7 Oct 2013
                    </p>
                    <p>
                            Many pieces were proposed, but none seemed suitable, because each one wished to play a good and suitable part ...
                    </p>
                    <p>
                            6 Sept 2013
                    </p>
                    <p>
                            It was ready for production, when through accident we were disappointed about securing the private theatre on ...
                    </p>
                    <p>
                            4 Aug 2013
                    </p>
                    <p>
                            The over-kind praise which it won encouraged me to have the play printed. I decided, as I could see no other prospects...
                    </p>
                    
                    
            </div>
    </div>
</div>
<div class="hr">
</div>
{% endblock %}



 