
<h5>КОММЕНТИРОВАТЬ</h5>		
<form action="" method="post" name="comment">
{#<input type="text" class="five smoothborder" name="userName" placeholder="Ваше имя *"/>	#}
{#<input type="text" class="five smoothborder" name="blogId" />#}
<textarea class="six smoothborder" rows="7" name="userComment" placeholder="Комментарий *"></textarea>
<button type="submit"   name="submit" class="readmore">Опубликовать</button>
</form>




 